<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Enviar parametros por Request Get</title>
</head>
<body>
<ul>
  <li>
      <a th:href="@{/params/string(texto='Hola usuario')}">/params/string?text=Hola Usuario</a>
  </li>
   <li><a th:href="@{/params/string(texto='Hola Hazzim')}">/params/string?text=Hola Hazzim</a></li>
    <li><a th:href="@{/params/mix-params(saludo='Hola Hazzim', numero=23)}">/params/mix-params</a></li>
    <li><a th:href="@{/params/mix-params-request(saludo='Hola Hazzim', numero=23)}">/params/mix-params</a></li>

</ul>
</body>
</html>